.main {
    text-align: center;
}

.formStyle {
    display: block;
    text-align: center;
    padding-bottom: 15px;
}

.form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.table {
    margin-left: auto;
    margin-right: auto;
}
